################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
/ext/project_path.hpp
/data/textures/2_tile_atlas.png
/data/textures/original_tile_atlas.png
data/data.json
